ul {
  font-family: 'Open Sans', sans-serif; color: white;
}
#events li {
  color: white;
}
#admin-navbar {
  background: #263238;
}
#admin-navbar .uk-navbar-nav > li > a {
            color: #ffffff;
            height: 0px;
            padding-bottom: 20px;
            border-bottom: 4px solid transparent;
            
          
}

#admin-navbar > div.uk-navbar-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#admin-navbar .uk-navbar-nav > li > a:hover {
  color: #3cc2f1;
  border-bottom: 4px solid #3cc2f1;
}

#admin-navbar > div.uk-navbar-center.uk-width-5-6 > div.uk-navbar-center-right {
  position: initial;
}

#admin-navbar .uk-navbar-center-right {
  margin-left: 0.5rem;
  position: initial;
  margin-right: 0.5rem;
}
.uk-navbar-center-right > span {
  justify-content: flex-end;
}



.uk-navbar-nav > li > a {
  height: initial;
  padding: 0;

}

.uk-parent > a {


}

span.uk-parent > a {
  color: white;
  text-decoration: none;
  
}

.IsEditor {
  display: none;
}

.IsAdmin {
  display: none;
}

.hidden {
  display: none;
}
