
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

</head>

<body>
<div>
    <p>Hello {{.User.FirstName}} {{.User.LastName}}</p>
    
    <a rel="nofollow" style='color:#333' href="http://{{.URL}}">New Password</a>
    <p>This temporary password will allow you to login one time only.
    Once you have used this link you will be asked to create a new password to ensure that your access to our site remains secure.</p>
    <p>This link will expire within 30 minutes.</p>
    <p>Thank you, </p>
    <br>
    <p>Compassionate Care Home health</p>
</div>
    
</body>

</html>