<!DOCTYPE html>
<html>
  <head><meta http-equiv=“Pragma” content=”no-cache”>
<meta http-equiv=“Expires” content=”-1″>
<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" viewport-fit="cover">
    <meta name="description" content="We have been serving the Central Valley community for over a decade, and our commitment to providing the highest quality care shows in every patient we serve. Let us show you what compassionate care truly means.">
    <link rel="icon" ype="image/png" href="/static/assets/favicon.png">
    <link rel="stylesheet" href="/static/css/main.css">
    <title>Compassionate Care Hospice</title>
    <script src="/static/js/main.js"></script><!-- Facebook Pixel Code -->
    <script>
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window, document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '2048222891932812');
      fbq('track', 'PageView');
      
    </script>
    <noscript><img height="1" width="1" style="display:none;" src="https://www.facebook.com/tr?id=2048222891932812&amp;ev=PageView&amp;noscript=1"></noscript><!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-133675222-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      
      gtag('config', 'UA-133675222-1');
    </script><!-- End Facebook Pixel Code -->
  </head>
  <body>
    <div class="uk-offcanvas-content" uk-height-viewport="expand:true">
      <div id="offcanvas" uk-offcanvas="mode: push">
        <div class="uk-offcanvas-bar uk-flex uk-flex-column uk-background-primary">
          <button class="uk-offcanvas-close" type="button" uk-close></button>
          <ul class="uk-nav uk-nav-primary uk-nav-center uk-margin-auto-vertical"></ul>
        </div>
      </div>
      <div id="header" uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky">
        <nav class="uk-text-bold uk-navbar-container uk-height-match" uk-navbar>
          <div class="uk-navbar-left"></div>
          <div class="uk-navbar-center">
            <div class="uk-navbar-center-left uk-visible@m"> </div><a class="uk-navbar-item uk-logo" href="/"><img src="/static/assets/favicon.png" alt="Compassionate Care Home Health Agency Logo"></a>
            <div class="uk-navbar-center-right uk-visible@m"></div>
          </div>
        </nav>
      </div>
      <div class="uk-container" uk-height-viewport="offset-top:true">
        <div class="uk-flex uk-flex-center uk-flex-column" style="margin-top: 50px;">
          <h1 class="uk-lead">404</h1>
          <p class="uk-text-large uk-text-lead">{{.Error}}</p>
        </div>
        <div class="uk-container"><a class="uk-button uk-button-primary uk-button-large uk-width-1-3" href="/">HOME</a></div>
      </div>
      <footer class="uk-container uk-padding"></footer>
    </div>
  </body>
</html>